<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Test CSS</title>
</head>
<body>
    <h1>Memanggil css</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odit velit vitae nesciunt suscipit blanditiis neque, beatae officiis fuga harum eum debitis recusandae nobis deserunt sint laboriosam quibusdam. Maxime commodi incidunt eos labore, earum doloremque temporibus corporis rem veniam ut?</p>
</body>
</html>